# ============================================
# AI vs Human Text Detector - Streamlit App
# ============================================

streamlit>=1.36.0
pandas>=2.2.0
numpy>=1.26.0

# Machine Learning & Models
scikit-learn>=1.5.0
joblib>=1.4.0
lightgbm>=4.5.0

# NLP & Text Processing
nltk>=3.9.0
textblob>=0.18.0

# Deep Learning (LSTM)
tensorflow>=2.15.0

# Visualization
plotly>=5.22.0

# Utilities
python-dotenv>=1.0.1


streamlit
pandas
numpy
scikit-learn
nltk
textblob
tensorflow==2.16.1
joblib
lightgbm
xgboost
plotly
